.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Navbar, .Classes {
  font-family: 'News Cycle', sans-serif;
  
}

#navbrand {
  font-size: 35px;
}

.Navbar{
  position:fixed;
  width: 100%;
  z-index:5;
}

.nav{
  margin-right: 50px;
}

#opener{
  width:100%;
}

#class{
  margin-top:20px;
}

#class-body{
  margin-top: 20px;
}

#about-me, .gallery, .border{
  max-height:200px;
  max-width:200px;
  height:auto;
  width:auto;
  z-index: 1;
  margin-top:25px;
}

.gallery:hover{
  
}

.Footer{
  height:200px;
  background-color: grey;
}

.fab {
  width: 50px;
  font-size: 25px;
  list-style: none;
  color: black;
}

li:hover {
  color:#00A0C6; 
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.image-holder:hover .overlay{
  opacity:.3;
}

.Gallery{
  height: 100vh;
}

