.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Navbar,
.Classes,
.carousel,
.Contact,
.About,
.Footer {
  font-family: 'News Cycle', sans-serif;
}

#blog-link {
  text-decoration: none !important;
  color: black;
}

#blog-link:visited {
  text-decoration: none;
}

#blog-link:hover {
  opacity: 0.5;
  text-decoration: none !important ;
}

#coming-soon-font {
  font-family: 'Patrick Hand SC', cursive;
}

#navbrand {
  font-size: 35px;
}

.Navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav {
  margin-right: 50px;
}

.nav:hover {
  text-decoration: underline !important;
}

.offset {
  height: 78px;
}

#class {
  margin-top: 20px;
}

#class-body {
  margin-top: 20px;
}

#about-me {
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: auto;
  z-index: 3;
  border: 1px solid grey;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 45px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 45px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 45px -5px rgba(0, 0, 0, 0.75);
}

@media (min-width: 320px) and (max-width: 480px) {
  #about-me {
    max-height: 375px;
    max-width: 375px;
    height: auto;
    width: auto;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.About,
.Classes,
.carousel {
  height: auto;
}

.gallery,
.image-holder {
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
  z-index: 1;
}

.image-holder {
  position: relative;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  background: #f8f9fa !important;
  opacity: 0.6;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px rgba(0, 0, 0, 0.308);
}

.fab {
  width: 50px;
  font-size: 25px;
  list-style: none;
  color: black;
}

li:hover,
.toggle-button:hover {
  color: rgba(128, 128, 128, 0.726);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.image-holder:hover .overlay {
  opacity: 0.3;
}

.Contact {
  margin: 0 auto;
  width: 600px;
  /* height:7 */
}

#text-area {
  height: 200px;
}

#textAreaBody {
  height: 300px;
}

/* form{
  height:700px;
} */

.para {
  background-image: url('./Home.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  animation: 5s slideInFromLeft;
}

.para2 {
  background-image: url('./parallax.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.para3 {
  background-image: url('./parallax1.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.para4 {
  background-image: url('./Home.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 480px) {
  .para,
  .para2,
  .para3,
  .para4:before {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .para {
    background-image: url('./vertical/IMG_8809.jpg');
  }
  .para2 {
    background-image: url('./vertical/IMG_6957.jpg');
  }
  .para3 {
    background-image: url('./vertical/IMG_8773.jpg');
  }
  .para4 {
    background-image: url('./vertical/IMG_8919.jpg');
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .para,
  .para2,
  .para3,
  .para4:before {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .para2 {
    background-image: url('./square/IMG_7329.jpg');
  }
  .para3 {
    background-image: url('./square/IMG_7370.jpg');
  }
  .para4 {
    background-image: url('./square/IMG_7340.jpg');
  }
}

.bg-light {
  opacity: 0.5;
}

.nav:hover,
.toggle-button:hover,
.overlay {
  cursor: pointer;
}

.Log {
  width: 400px;
  margin: 0 auto;
}

.blog-body {
  white-space: pre-wrap;
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

.blog-title {
  width: 800px;
  margin: 0 auto;
}

.Post {
  width: 800px;
  margin: 0 auto;
}

hr {
  width: 800px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

@media (min-width: 481px) and (max-width: 767px) {
  .blog-body {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .gallery,
  .image-holder,
  .overlay {
    margin-left: auto;
    margin-right: auto;
  }
  .overlay {
    z-index: -10;
  }
}

.blog-image {
  width: 900px;
  height: auto;
  z-index: -20;
}
@media (min-width: 320px) and (max-width: 480px) {
  .blog-image {
    width: 95%;
    height: auto;
    z-index: -20;
  }
  .Contact {
    width: 300px;
  }
}

.blog-body-holder {
  margin: auto 0;
}

.toggle-button {
  position: relative;
}

.popUp {
  height: auto;
  width: 500px;
}

.blog-header {
  background-color: peachpuff;
  height: 300px;
  width: 100%;
}

.blog-name {
  padding-top: 100px;
  font-family: 'Indie Flower', cursive;
}

.lead {
  font-family: 'Indie Flower', cursive;
}

.blog-title,
.toggle-button {
  font-family: 'Patrick Hand SC', cursive;
}

.blog-body {
  font-family: 'Merriweather', serif;
}

#date {
  font-family: 'Patrick Hand SC', cursive;
  font-style: italic;
  font-size: 15px;
}
