.App {
  text-align: center;
  margin: 0;
    padding: 0;
    overflow-x: hidden; 

}

.Navbar, .Classes {
  font-family: 'News Cycle', sans-serif;
  
}


#navbrand {
  font-size: 35px;
}

.Navbar{
  position:fixed;
  width: 100%;
  z-index:5;
}

.nav{
  margin-right: 50px;
}


.offset{
  height:78px;
}

#class{
  margin-top:20px;
}

#class-body{
  margin-top: 20px;
}

#about-me{
  max-height:400px;
  max-width:400px;
  height:auto;
  width:auto;
  z-index: 3;
  border: 1px solid grey;
  padding:5px;
  -webkit-box-shadow: 0px 0px 45px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 45px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 45px -5px rgba(0,0,0,0.75);
}


.About, .Classes, .carousel{
  height: auto;
}

.gallery, .image-holder{
  max-height:300px;
  max-width:300px;
  height:auto;
  width:auto;
  z-index: 1;
}

.image-holder{
 position:relative;
}


.Footer{
  height:150px;
  background-color: grey;
  position: relative;
  bottom: 0;
  width: 100%;
  
}

.fab {
  width: 50px;
  font-size: 25px;
  list-style: none;
  color: black;
}

li:hover {
  color:#00A0C6; 
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.image-holder:hover .overlay{
  opacity:.3;
}

.Contact{
  margin: 0 auto;
}

label:after {
  content:"*";
  color:red;
}

#text-area{
  height:300px
}

.para{
  background-image: url("./Home.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

